.IconHolderContainer {
  display: flex;
  align-items: center;
  gap: 0.4em;
  font-size: 25px;
  padding: 0.1em 0.5em;
  border: 1px solid var(--bg-icons);
  border-radius: 0.2em;
  background-color: var(--blured-bg-color);
  position: relative;
  overflow: hidden;
  transition: transform var(--transition-fast) ease;
  text-decoration: none;
  color: var(--text-color);
  margin: 0.3em 0;
}

span {
  transform: translateY(0.1em);
}

span.span {
  transform: 0;
}

.label {
  font-size: 0.8em;
}

.IconHolderContainer:hover {
  transform: skew(2deg) rotateY(-10deg);
}
.IconHolderContainer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: var(--bg-icons);
  transform: rotate(-45deg);
  top: 0;
  left: 90%;
  transition: left var(--transition-fast) ease;
  filter: blur(3px);
  opacity: 0.7;
}

.IconHolderContainer:hover::after {
  left: -70%;
}
