.GlassBoxContainer {
  width: 15em;
  height: 17em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  opacity: 0.8;
  gap: 1em;
  background-color: rgb(75, 75, 75);
  --borderWidth: 1px;
}

.content {
  width: calc(100% - (var(--borderWidth) * 2));
  height: calc(100% - (var(--borderWidth) * 2));
  background-color: rgb(41, 41, 41) !important;
  overflow: hidden;
  position: relative;
  z-index: 10; 
}
.borderGlow {
  position: absolute;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: radial-gradient(rgba(255, 255, 255, 0.555), transparent 70%);
  filter: blur(20px);
  pointer-events: none;
  transition: opacity 0.4s ease;
  z-index: 1;
  /* opacity: 0; */
}
.lightEffect {
  position: absolute;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: radial-gradient(rgba(177, 177, 177, 0.445), transparent 70%);
  filter: blur(20px);
  pointer-events: none;
  transition: opacity 0.4s ease;
  z-index: 1;
  opacity: 0;
}

.GlassBoxContainer:hover .lightEffect {
  opacity: 0.3;
}
