.HomeContainer {
  height: 100vh;
  transition: background-color var(--transition-slow);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  --animation-time: var(--transition-slow);
  --rotation-time: 6s;
}

.HomeContainer.frontend {
  background-color: var(--ts-primary);
}

.HomeContainer.backend {
  background-color: var(--django-primary);
}

.HomeContainer .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  font-family: "merriweather", serif;
  position: relative;
  z-index: 1;
}

.HomeContainer .hero h1 {
  text-align: center;
  color: var(--text-color);
  font-size: 4em;
  font-weight: 300;
}

.HomeContainer .hero h1 span {
  font-weight: 500;
}
.HomeContainer .hero h2 {
  color: var(--text-color);
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}
.HomeContainer .hero h2 span {
  font-weight: 700;
  position: relative;
}
.HomeContainer .hero h2 span.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -5px;
  background-color: var(--text-color);
  animation: underlineAnimation 0.7s ease;
}

.HomeContainer .hero .cta button {
  margin-top: 1em;
  background-color: var(--text-color);
  border: none;
  padding: 0.5em 1em;
  font-size: 1.3em;
  font-weight: 400;
  font-family: "merriweather", serif;
  border-radius: 0.2em;
  transition: color var(--transition-slow) ease;
}

.hero.frontendMode .cta button {
  color: var(--ts-primary);
}

.hero.backendMode .cta button {
  color: var(--django-primary);
}

.hero .cta button:hover {
  cursor: pointer;
  background-color: var(--muted-text);
}

.hero .names span {
  position: relative;
  color: var(--text-color);
}

.hero .names span::after {
  content: "";
  position: absolute;
  height: 6px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: top right;
  left: 0;
  bottom: -4px;
  background-color: var(--text-color);
  transition: transform 1s ease;
}

.hero.backendMode .names span.django::after {
  transform-origin: top left;
  transform: scaleX(1);
}
.hero.frontendMode .names span.react::after {
  transform-origin: top left;
  transform: scaleX(1);
}

.iconCircle {
  margin-top: 1.5em;
  background-color: var(--text-color);
  height: 10em;
  width: 100vw;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.frameworkIconsContainer {
  transform: translateY(37%);
}

.frameworkIcons {
  height: 5em;
  width: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  animation: rotate calc((var(--animation-time) + 6s) * 1.9) ease infinite;
  transform-origin: center center;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  45% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(180deg);
  }
  55% {
    transform: rotate(180deg);
  }
  95% {
    transform: rotate(181deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.iconCircle .icons {
  font-size: 6em;
}

.django {
  color: var(--django-primary);
  transform: translateX(5px) rotate(180deg);
}
.react {
  color: var(--ts-primary);
}

@keyframes underlineAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.backgroundIconsContainer {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
}

.frontendIcons,
.backendIcons {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  place-items: center;
  position: absolute;
  inset: 0;
}

.backgroundIconsContainer span {
  position: relative;
  display: inline-block;
  transform-origin: center center;
  font-size: clamp(100px, 140px, 150px);
  color: var(--bg-icons);
}

:root {
  --cycle: 12s;
}

@keyframes slideUpHoldDrop {
  0% {
    top: 120%;
    opacity: 0;
  }
  8.33% {
    top: 0;
    opacity: 1;
  }
  41.67% {
    top: 0;
    opacity: 1;
  }
  50% {
    top: 120%;
    opacity: 0;
  }
  100% {
    top: 120%;
    opacity: 0;
  }
}

.frontendIcons span {
  animation: slideUpHoldDrop var(--cycle) ease infinite;
}

.frontendIcons span:nth-child(1) {
  transform: rotate(20deg);
  animation-delay: 0.2s;
}
.frontendIcons span:nth-child(2) {
  transform: rotate(-20deg);
  animation-delay: 0.1s;
}
.frontendIcons span:nth-child(3) {
  transform: rotate(20deg);
  animation-delay: 0.4s;
}
.frontendIcons span:nth-child(1) {
  transform: rotate(20deg);
}

.backendIcons span:nth-child(1) {
  transform: rotate(20deg);
  animation-delay: 6.2s;
}
.backendIcons span:nth-child(2) {
  transform: rotate(-20deg);
  animation-delay: 6.1s;
}
.backendIcons span:nth-child(3) {
  transform: rotate(20deg);
  animation-delay: 6.4s;
}
.backendIcons span:nth-child(4) {
  transform: rotate(20deg);
  animation-delay: 6s;
}

.backendIcons span {
  top: 150%;
  animation: slideUpHoldDrop var(--cycle) ease infinite;
}

@media (max-width: 1000px) {
  .HomeContainer .hero h1 {
    font-size: 3em;
  }
  .HomeContainer .hero h2 {
    font-size: 1.4em;
    font-weight: 200;
  }
  .backgroundIconsContainer span {
    font-size: 100px;
  }
}
@media (max-width: 500px) {
  .HomeContainer .hero h1 {
    font-size: 2em;
  }
  .HomeContainer .hero h2 {
    font-size: 1.1em;
    font-weight: 200;
  }
  .backgroundIconsContainer span {
    font-size: 70px;
  }
}
